.porto__portofolio {
  padding-bottom: 15rem;
}

.porto__portofolio-list_project {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--color-bg);
  max-width: 100%;
}

.porto__portofolio-list_project-img {
  overflow: hidden;
  max-height: 180px;
}

.porto__portofolio-list_project-img img {
  width: 100%;
  object-fit: cover;
  object-position: top;
  height: 100%;
}

.porto__portofolio-list_project-content {
  padding: 1rem;
}

.porto__portofolio-list_project-content h1 {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 48px;
  /* identical to box height, or 200% */
  color: #FFFFFF;
}

.porto__portofolio-list_project-content p {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  /* or 188% */


  color: var(--color-text);
}

@media (min-width: 768px) {
  .porto__portofolio-list_project {
    max-width: 47%;
    height: auto;
  }
}

@media (min-width: 992px) {
  .porto__portofolio-list_project {
    width: 100%;
    height: auto;
  }
}

@media (min-width: 1200px) {
  .porto__portofolio-list_project {
    max-width: 364px;
  }
}

