.spinner {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--second-color-bg);
}

.spinner__circle {
  --size: 30px;
  --first-block-clr: linear-gradient(126deg, rgba(39,205,253,1) 0%, rgba(173,45,255,1) 100%);
  --second-block-clr: linear-gradient(126deg, rgba(173,45,255,1) 0%, rgba(39,205,253,1) 100%);
  --clr: #111;
  width: 100px;
  height: 100px;
  position: relative;
 }
 
 .spinner__circle::after,.spinner__circle::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  content: "";
  width: var(--size);
  height: var(--size);
  top: 50%;
  -webkit-animation: up 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
          animation: up 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
  left: 50%;
  background: var(--first-block-clr);
 }
 
 .spinner__circle::after {
  background: var(--second-block-clr);
  top: calc(50% - var(--size));
  left: calc(50% - var(--size));
  -webkit-animation: down 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
          animation: down 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
 }
 
 @-webkit-keyframes down {
  0%, 100% {
   -webkit-transform: none;
           transform: none;
  }
 
  25% {
   -webkit-transform: translateX(100%);
           transform: translateX(100%);
  }
 
  50% {
   -webkit-transform: translateX(100%) translateY(100%);
           transform: translateX(100%) translateY(100%);
  }
 
  75% {
   -webkit-transform: translateY(100%);
           transform: translateY(100%);
  }
 }
 
 @keyframes down {
  0%, 100% {
   -webkit-transform: none;
           transform: none;
  }
 
  25% {
   -webkit-transform: translateX(100%);
           transform: translateX(100%);
  }
 
  50% {
   -webkit-transform: translateX(100%) translateY(100%);
           transform: translateX(100%) translateY(100%);
  }
 
  75% {
   -webkit-transform: translateY(100%);
           transform: translateY(100%);
  }
 }
 
 @-webkit-keyframes up {
  0%, 100% {
   -webkit-transform: none;
           transform: none;
  }
 
  25% {
   -webkit-transform: translateX(-100%);
           transform: translateX(-100%);
  }
 
  50% {
   -webkit-transform: translateX(-100%) translateY(-100%);
           transform: translateX(-100%) translateY(-100%);
  }
 
  75% {
   -webkit-transform: translateY(-100%);
           transform: translateY(-100%);
  }
 }
 
 @keyframes up {
  0%, 100% {
   -webkit-transform: none;
           transform: none;
  }
 
  25% {
   -webkit-transform: translateX(-100%);
           transform: translateX(-100%);
  }
 
  50% {
   -webkit-transform: translateX(-100%) translateY(-100%);
           transform: translateX(-100%) translateY(-100%);
  }
 
  75% {
   -webkit-transform: translateY(-100%);
           transform: translateY(-100%);
  }
 }
 