.gpt3__blog {
  display: flex;
  flex-direction: column;
  background: var(--second-color-bg)
}

.gpt3__blog-header {
  width: 80%;
}

.gpt3__blog-header h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 58px;
  line-height: 90px;

  letter-spacing: -0.04em;
  color: var(--color-title);
}

.gpt3__blog-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 2rem;
  margin-top: 2rem;
}

.gpt3__blog-container__article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-bg);
  color: #FFF;
  font-family: var(--font-family);
  border-radius: 10px;
  overflow: hidden;
}

.gpt3__blog-container__article img {
  width: 100%;
}

.gpt3__blog-container__article:first-of-type {
  grid-row: 1/3;
}

.gpt3__blog-container__article-body__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1.5rem 1rem;
}

.gpt3__blog-container__article-body__content p {
  font-weight: 700;
  font-size: 12px;
  line-height: 35px;
}

.gpt3__blog-container__article-body__content h1 {
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
}

.gpt3__blog-container__article-body_image img {
  width: 100%;
}

.gpt3__blog-container__article-footer {
  padding: 1rem;
}

.gpt3__blog-container__article-footer p {
  font-weight: 700;
  font-size: 12px;
  line-height: 35px;
}

@media screen and (max-width: 1050px) {
  .gpt3__blog-header {
    width: 100%;
  }
  .gpt3__blog-container {
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 650px) {
  .gpt3__blog-header {
    width: 100%;
  }
  .gpt3__blog-header h1 {
    font-size: 45px;
    line-height: 60px;
  }
  .gpt3__blog-container {
    grid-template-columns: auto;
  }
}