* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
a {
  color: unset;
  text-decoration: none;
}

.section__padding {
  padding: 4rem 6rem;
}

.section__margin {
  margin: 4rem 6rem;
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.btn-main {
  padding: 0.2rem 1.5rem;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 45px;
  /* or 188% */

  background: var(--third-color-bg);
  color: #FFFFFF;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 400ms;
}

.btn-main:hover {
  background: var(--third-hover-color-bg);
}

.btn-main svg {
  margin-right: 10px;
  margin-left: 0 !important;
  color: #FFFFFF !important;
}

 @-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}


@media (max-width: 992px) {
  .btn-main {
    font-size: 14px;
    line-height: 45px;
  }
}

@media screen and (max-width: 768px) {
  .section__padding {
    padding: 4rem;
  }
  .section__margin {
    margin: 4rem;
  }
  .btn-main {
    font-size: 16px;
    line-height: 45px;
  }
}

@media screen and (max-width: 576px) {
  .section__padding {
    padding: 4rem 2rem;
  }
  .section__margin {
    margin: 4rem 2rem;
  }

  .btn-main {
    font-size: 14px;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes lineAnimation {
    from {
        margin-left: -100%;
    }
    to {
        margin-left: 0;
    }
}